.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
}

.footer__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: center;
}

.footer__text {
  font-size: .8rem;
  color: var(--text-colors);
}

.footer__link {
  font-weight: 600;
  text-decoration: none;
  color: var(--background-elements-hover);
  -webkit-tap-highlight-color: transparent;
}